{:paths ["dev" "src"]

 :deps
 {io.github.nextjournal/clerk {:mvn/version "0.12.699"}
  clj-http/clj-http {:mvn/version "3.12.3"}}

 :aliases {:nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                               :exec-args {:paths ["src/aoc_2022/day01.clj"
                                                   "src/aoc_2022/day02.clj"]}}}}
