{:paths ["dev" "src"]

 :deps
 {io.github.nextjournal/clerk {:mvn/version "0.12.699"}
  clj-http/clj-http {:mvn/version "3.12.3"}
  ubergraph/ubergraph {:mvn/version "0.8.2"}}

 :aliases {:nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                               :exec-args {:paths ["src/aoc_2022/day01.clj"
                                                   "src/aoc_2022/day02.clj"
                                                   "src/aoc_2022/day03.clj"
                                                   "src/aoc_2022/day04.clj"
                                                   "src/aoc_2022/day05.clj"
                                                   "src/aoc_2022/day06.clj"
                                                   "src/aoc_2022/day07.clj"
                                                   "src/aoc_2022/day08.clj"
                                                   "src/aoc_2022/day09.clj"
                                                   "src/aoc_2022/day10.clj"
                                                   "src/aoc_2022/day11.clj"
                                                   "src/aoc_2022/day12.clj"
                                                   "src/aoc_2022/day13.clj"
                                                   "src/aoc_2022/day14.clj"]
                                           :out-path "docs/"}}}}
